<div class="messages">
    <div class="container">
        <h1 class="bg-light-blue text-white font-weight-bold p-3">Chat Room</h1>
        <div class="col-12 col-md-8 mx-auto border mt-4">
            <div class="messages-body my-3 pt-3">
                <!-- <p class="recieved-message bg-warning text-white p-1 rounded" *ngFor="let message of messages$ | async">{{message}}</p> -->
                <!-- <p class="recieved-message bg-info text-white p-1 rounded" >lets Start Second message</p> -->
            </div>
            <form [formGroup]="messageForm" class="" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                    <input 
                        type="text" 
                        class="form-control"
                        name="message"
                        formControlName="message"
                        placeholder="Type here" 
                        aria-label="Type here" 
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>