<div class="pending-contracts" *ngIf="pendingContracts">
    <h1 class="bg-light-blue text-white font-weight-bold p-3">{{'pending-contracts' | translate}}</h1>
    <div *ngIf="pendingContracts.length !== 0">
        <div class="container-fluid">
            <div class="card border bg-white text-light-blue mt-2 mt-sm-3 mt-md-4">
                <div class="card-header bg-white py-3"></div>
                <div class="card-body table-responsive bg-white text-center">
                    <table class="table">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th scope="col">#ID</th>
                                <th scope="col">{{'username' | translate}}</th>
                                <th scope="col">{{'status' | translate}}</th>
                                <th scope="col">{{'start-date' | translate}}</th>
                                <!-- <th scope="col">End Date</th> -->
                                <th scope="col">{{'package-note' | translate}}</th>
                                <th scope="col">{{'package-name' | translate}}</th>
                                <th scope="col">{{'subscription-note' | translate}}</th>
                                <th scope="col">{{'control' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pendingContract of pendingContractsList | paginate: config">
                                <th scope="row">{{pendingContract.id}}</th>
                                <th scope="row">{{pendingContract.userName ? pendingContract.userName : '-'}}</th>
                                <th scope="row" [class.text-danger]="pendingContract.status == 'inactive'">{{pendingContract.status ? pendingContract.status : '-'}}</th>
                                <th scope="row" style="white-space: nowrap;">{{pendingContract.startDate ? (pendingContract.startDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th>
                                <!-- <th scope="row">{{pendingContract.endDate ? (pendingContract.endDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th> -->
                                <th scope="row" class="td-custom mr-2">{{pendingContract.packageNote ? pendingContract.packageNote : '-'}}</th>
                                <th scope="row">{{pendingContract.packageName ? pendingContract.packageName : '-'}}</th>
                                <th scope="row" class="td-custom">{{pendingContract.subscriptionNote ? pendingContract.subscriptionNote : '-'}}</th>
                                <th scrope="row">
                                    <a routerLink="/contracts/view/{{pendingContract.id}}" class="text-success">{{'view' | translate}}</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--.card-->
            <div class="mt-3 text-center">
                <pagination-controls class="my-pagination"
                        (pageChange)="pageChanged($event)"
                        autoHide="true"
                        maxSize="5"
                        responsive="true"
                        previousLabel="{{'prev' | translate}}"
                        nextLabel="{{'next' | translate}}"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div *ngIf="pendingContracts.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">{{'pending-contracts-not-exists' | translate}}</div>
            <!-- <a routerLink="/animes/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                Add New Anime
            </a> -->
        </div>
    </div>
</div>
<div *ngIf="pendingContracts == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>