.all-logs {
  & > h1 {
    @media (min-width: '992px') and (max-width: '1199px') {
      font-size: 2.2rem;
    }
    @media (min-width: '768px') and (max-width: '991px') {
      font-size: 2rem;
    }
    @media (min-width: '576px') and (max-width: '767px') {
      font-size: 2rem;
      background: none !important;
      color: #21a5b8 !important;
    } 
    @media (max-width: '575px') {
      font-size: 1.8rem;
      background: none !important;
      color: #21a5b8 !important;
    }
  }
  .order-log-search {
      input.form-control {
        border-radius: 30px 0 0 30px;
        border-right: 0;
        border-color: #21a5b8;
        &:focus { box-shadow: none; }
      }
      div.input-group-text {
        border-radius: 0 30px 30px 0;
        background: #fff;
        border-left: 0;
        border-color: #21a5b8;
      }
  }
}