@import "../../../../variable";
.navbar.navbar-expand-lg {
    .navbar-brand { color: $light_white;}
    .sidebar-search {
        // box-shadow: 1px 0px 15px #888;
        input.form-control {
          border-radius: 30px 0 0 30px;
          border-right: 0;
        }
        div.input-group-text {
          border-radius: 0 30px 30px 0;
          background: #fff;
          border-left: 0;
        }
    }
    .card {
        border: none;
        .card-header {
            padding: 0;
            border-radius: 0 !important;
            background: $medium_light_blue;            
            position: relative;
            button.btn-link { 
                width: 100%;
                text-align: left;
                color: #fff; 
                text-decoration: none;
                font-weight: bolder;
                font-size: 1.3rem;
                letter-spacing: .07rem;
                &:hover, &:active { text-decoration: none; color: #e6eff1; }
                .fa-angle-down { display: none; }
                .fa-angle-up { display: block; }
                &.collapsed {
                  .fa-angle-down { display: block; }
                  .fa-angle-up { display: none; }  
                }                               
                @media (min-width: '768px') and (max-width: '991px') {
                  font-size: 1.1rem;
                }
                @media (max-width: '575px') {
                  font-size: 1rem;
                }    
            }
            i {
                position: absolute;
                display: block;
                top: 14px;
                color: #fff;
                right: 10px;
            }            
            .custom-select-lang {
              background: $medium_light_blue;
              border: none;
              color: #fff;
              cursor: pointer;
              font-size: 1.2rem;
            }
        }
    }
}
.search-result {
  position: absolute;
  width: 65vw;
  height: 100vh;
  left: -65vw;
  top: 0;
  @media (max-width: '767px') {    
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    left: 0;
    top: 30px;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
}