<div class="captains">
    <h1 class="bg-light-blue text-white font-weight-bold p-3">{{'all-captains' | translate}}</h1>
    <div *ngIf="captains != null">
      <form [formGroup]="uploadForm" class="col-md-10 col-lg-8 col-xl-7 my-5 mx-auto" (ngSubmit)="mySubmit()">
        <div class="form-group row">
          <label class="col-12 col-form-label">{{'all-captains' | translate}}</label>
          <div class="col-12">
            <select class="form-control"
                    [ngClass]="{'is-invalid': uploadForm.get('captainId').errors &&
                     (uploadForm.get('captainId').touched || uploadForm.get('captainId').dirty)}"
                    name="captainId"
                    formControlName="captainId"
                    (change)="changeOwner($event)">
              <option value="">{{'select-captain' | translate}}</option>
              <option *ngFor="let captain of captains" value="{{captain?.id}}">{{captain?.name}}</option>
            </select>
            <span class="invalid-feedback" *ngIf="uploadForm.get('captainId').errors?.required">{{'captain-field-is-required' | translate}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-form-label">{{'money-amount' | translate}}</label>
          <div class="col-12">
              <input
                    type="number"
                    [ngClass]="{'is-invalid': uploadForm.get('amount').errors &&
                     (uploadForm.get('amount').touched || uploadForm.get('amount').dirty)}"
                    class="form-control"
                    name="amount"
                    formControlName="amount"
                    placeholder="{{'money-amount-placeholder' | translate}}">
            <span class="invalid-feedback" *ngIf="uploadForm.get('amount').errors?.required">{{'money-amount-field-is-required' | translate}}</span>
          </div>
        </div>
        <div class="form-group mt-3">
          <input class="btn btn-primary btn-block" type="submit" value="{{'save' | translate}}" [disabled]="isSubmitted">
          <!-- <input class="btn btn-primary btn-block" type="submit" value="send"> -->
        </div>
      </form>
    </div>
    <div *ngIf="captains == null">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
  <div class="payment-captains" *ngIf="isClicked">
   <div *ngIf="captainTotalBounce != null">
     <!-- <div *ngIf="captainTotalBounce.length !== 0"> -->
      <div class="container-fluid">
        <div class="card border bg-white text-light-blue mt-2 mt-sm-3 mt-md-4">
            <div class="card-header bg-white py-3"></div>
            <div class="card-body table-responsive bg-white text-center">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">{{'sum-payments' | translate }}</th>
                          <th scope="col">{{'current-total' | translate }}</th>
                          <th scope="col">{{'bank-name' | translate }}</th>
                          <th scope="col">{{'account-id' | translate }}</th>
                          <th scope="col">{{'net-profit' | translate }}</th>
                          <th scope="col">{{'bounce' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row" class="pb-3">{{captainTotalBounce?.sumPayments ? captainTotalBounce?.sumPayments : '-'}}</th>
                          <th scope="row" class="pb-3 {{captainTotalBounce?.total < 0 ? 'text-danger' : ''}}">{{captainTotalBounce?.total ? captainTotalBounce?.total : '-'}}</th>
                          <th scope="row" class="pb-3">{{captainTotalBounce?.bank?.bankName ? captainTotalBounce?.bank?.bankName : '-'}}</th>
                          <th scope="row" class="pb-3">{{captainTotalBounce?.bank?.accountID ? captainTotalBounce?.bank?.accountID : '-'}}</th>
                          <th scope="row" class="pb-3">{{captainTotalBounce?.NetProfit ? captainTotalBounce?.NetProfit : '-'}}</th>
                          <th scope="row" class="pb-3">{{captainTotalBounce?.bounce ? captainTotalBounce?.bounce : '-'}}</th>
                      </tr>
                      <tr class="border-top">
                        <th scope="col" colSpan="3" class="pt-3">{{'amount' | translate }}</th>
                        <th scope="col" colSpan="3" class="pt-3">{{'date' | translate }}</th>
                      </tr>
                      <tr *ngFor="let captain of captainTotalBounceList | paginate: config">
                          <th scope="row" colSpan="3">{{captain?.amount ? captain?.amount : '-'}}</th>
                          <th scope="row" colSpan="3">{{captain?.date ? (captain?.date?.timestamp * 1000 | date: 'MMM d, y, h:mm:ss a') : '-'}}</th>
                      </tr>
                      <tr *ngIf="captainTotalBounceList.length === 0">
                          <th scope="row" colSpan="6">{{'captain-payments-not-exists' | translate}}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div><!--.card-->
        <div class="mt-3 text-center">
            <pagination-controls class="my-pagination"
                    (pageChange)="pageChanged($event)"
                    autoHide="true"
                    maxSize="5"
                    responsive="true"
                    previousLabel="{{'prev' | translate}}"
                    nextLabel="{{'next' | translate}}"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
            </pagination-controls>
        </div>
      </div>
      <!-- </div>   -->
      <!-- <div *ngIf="captainTotalBounce.length === 0">
       <div class="container">
          <div class="alert alert-primary text-center mt-5">{{'captain-payments-not-exists' | translate}}</div>
          <a routerLink="/animes/add" class="btn btn-primary btn-sm mb-2 float-right">
              <i class="fa fa-plus"></i>
              Add New Anime
          </a>
       </div>
     </div> -->
   </div>
   <div *ngIf="captainTotalBounce == null">
     <div class="lds-ring position-sticky"><div></div><div></div><div></div><div></div></div>
   </div>
  </div>
   <app-remaining-captains></app-remaining-captains>
