
      <div class="orders-dashboard mb-4 mb-lg-5">
        <div class="row">
            <div class="col-12 col-sm-4">
              <div class="card w-75 mx-auto bg-light-blue border-0 text-center mb-2">
                <div class="card-number text-light-blue">{{countpendingOrders}}</div>
                <span class="text-white">{{'pending' | translate}}</span>
              </div>
            </div>  
            <div class="col-12 col-sm-4">
              <div class="card w-75 mx-auto bg-light-blue border-0 text-center mb-2">
                <div class="card-number text-light-blue">{{countOngoingOrders}}</div>
                <span class="text-white">{{'ongoing' | translate}}</span>
              </div>
            </div>  
            <div class="col-12 col-sm-4">
              <div class="card w-75 mx-auto bg-light-blue border-0 text-center mb-2">
                <div class="card-number text-light-blue">{{ordersCount}}</div>
                <span class="text-white">{{'orders-count' | translate}}</span>
              </div>
            </div>      
          </div>
        <div class="dashboard-table mt-5">
          <div class="card border-0 text-white">
            <div class="card-header bg-light-blue py-2">
              {{'active-orders' | translate}}
            </div>
            <div class="card-body table-responsive bg-light-blue text-center">
              <table class="table" *ngIf="orders.length != 0">
                <thead>
                  <tr style="white-space: nowrap;">
                    <th scope="col">#ID</th>
                    <th scope="col">{{'image' | translate}}</th>
                    <th scope="col">{{'name' | translate}}</th>
                    <th scope="col">{{'acceptedOrderDate' | translate}}</th>
                    <!-- <th scope="col">{{'captain-id' | translate}}</th> -->
                    <!-- <th scope="col">{{'destination' | translate}}</th> -->
                    <!-- <th scope="col">{{'driving-licence' | translate}}</th> -->
                    <!-- <th scope="col">{{'duration' | translate}}</th> -->
                    <th scope="col">{{'order-date' | translate}}</th>
                    <!-- <th scope="col">{{'owner-id' | translate}}</th> -->
                    <th scope="col">{{'payment' | translate}}</th>
                    <th scope="col">{{'from-branch' | translate}}</th>
                    <!-- <th scope="col">RecipientName</th>
                    <th scope="col">RecipientPhone</th> -->
                    <!-- <th scope="col">{{'source' | translate}}</th> -->
                    <th scope="col">{{'state' | translate}}</th>
                    <th scope="col">{{'updateOrderDate' | translate}}</th>
                    <th scope="col" style="white-space: nowrap;">{{'note' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let order of orders.reverse() | paginate: config; let i = index">
                        <ng-container *ngIf="i < latestOrdersNumber">
                            <tr>
                                <th scope="row">{{order.orderID}}</th>
                                <th><img src="{{order?.image}}" (error)="order.image = '../../../../../../../assets/default-avatar.jpg'" alt="{{order.name}} Image" class="img-thumbnail img-custom"></th>                              
                                <th scope="row">{{order.name ? order.name : '-'}}</th>
                                <th scope="row">{{order.acceptedOrderDate ? (order.acceptedOrderDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th>
                                <!-- <th scope="row">{{order.captainID ? order.captainID : '-'}}</th> -->
                                <!-- <th scope="row">{{order.destination.length > 0 ? order.destination[0] : '-'}}</th> -->
                                <!-- <th scope="row">{{order.drivingLicence ? order.drivingLicence : '-'}}</th> -->
                                <!-- <th scope="row">{{order.duration ? order.duration : '-'}}</th> -->
                                <!-- <th scope="row">{{order.duration ? (order.duration.timestamp * 1000 | date: 'H:mm:ss':'UTC') : '-'}}</th> -->
                                <th scope="row" style="white-space: nowrap;">{{order.record.length > 0 ? (order.record[0]?.date?.timestamp * 1000 | date: 'MMM d, y, h:mm:ss a') : '-'}}</th>
                                <!-- <th scope="row">{{order.ownerID ? order.ownerID : '-'}}</th> -->
                                <th scope="row">{{order.payment ? order.payment : '-'}}</th>
                                <th scope="row">{{order.fromBranch ? order.fromBranch.brancheName : '-'}}</th>
                                <!-- <th scope="row">{{order.recipientName ? order.recipientName : '-'}}</th>
                                <th scope="row">{{order.recipientPhone ? order.recipientPhone : '-'}}</th> -->
                                <!-- <th scope="row">{{order.source.length > 0 ? order.source : '-'}}</th> -->
                                <th scope="row">{{order.state ? order.state : '-'}}</th>
                                <!-- <th scope="row">{{order.updateOrderDate ? order.updateOrderDate : '-'}}</th> -->
                                <th scope="row">{{order.updateOrderDate ? (order.updateOrderDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th>
                                <th scope="row" class="td-custom mr-1">{{order.note ? order.note : '-'}}</th>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
              </table>
              <div class="text-center" *ngIf="orders.length == 0">
                  <p scope="row">{{'active-orders-not-exists' | translate}}.</p>
              </div>
            </div>              
            <div class="mt-3 text-center" *ngIf="orders.length != 0">
              <pagination-controls class="orders-pagination"
                      (pageChange)="pageChanged($event)"
                      autoHide="true"
                      maxSize="5"
                      responsive="true"
                      previousLabel="{{'prev' | translate}}"
                      nextLabel="{{'next' | translate}}"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
              </pagination-controls>
            </div>
          </div><!--.card-->
        </div>
      </div>
