@import "../../../../variable";
.main-sidebar {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    width: 34.3%;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .sidebar-search {
        // box-shadow: 1px 0px 15px #888;
        box-shadow: 1px 0px 15px #ffffff47;
        input.form-control {
          border-radius: 30px 0 0 30px;
          border-right: 0;
        }
        div.input-group-text {
          border-radius: 0 30px 30px 0;
          background: #fff;
          border-left: 0;
        }
    }
    .card {
        border: none;
        .card-header {
            padding: 0;
            border-radius: 0 !important;
            background: $medium_light_blue;            
            position: relative;
            button.btn-link { 
                width: 100%;
                text-align: left;
                color: #fff; 
                text-decoration: none;
                font-weight: bolder;
                font-size: 1.3rem;
                letter-spacing: .07rem;
                &:hover, &:active { text-decoration: none; color: #e6eff1; }
                .fa-angle-down { display: none; }
                .fa-angle-up { display: block; }
                &.collapsed {
                  .fa-angle-down { display: block; }
                  .fa-angle-up { display: none; }  
                }
                @media (min-width: '768px') and (max-width: '991px') {
                  font-size: 1.1rem;
                }
                .dash-header-icon {
                  position: relative;
                  display: inline-block;
                  left: 0;
                  right: unset;
                  top: 0;
                }
            }
            i {
                position: absolute;
                display: block;
                top: 14px;
                color: #fff;
                right: 10px;
            }
            .custom-select-lang {
              background: $medium_light_blue;
              border: none;
              color: #fff;
              cursor: pointer;
              font-size: 1.2rem;
            }
        }
    }
}
.search-result {
  position: absolute;
  width: 65vw;
  height: 100vh;
  left: -65vw;
  top: 0;
  h5 {
    @media (min-width: '768px') and (max-width: '991px') {
      font-size: 1.1rem;
    }
    @media (min-width: '576px') and (max-width: '767px') {
      font-size: 1rem;
    }
  }
  p {
    @media (min-width: '576px') and (max-width: '991px') {
      font-size: .9rem;
    }
  }
}