<div class="pending-orders" *ngIf="pendingOrders">
    <h1 class="bg-light-blue text-white font-weight-bold p-3">{{'pending-orders' | translate}}</h1>
    <div *ngIf="pendingOrders.length !== 0">
        <div class="container-fluid">
            <div class="card border bg-white text-light-blue mt-2 mt-sm-3 mt-md-4">
                <div class="card-header bg-white py-3"></div>
                <div class="card-body table-responsive bg-white text-center">
                    <table class="table">
                        <thead>
                            <tr style="white-space: nowrap;">
                            <!-- <th scope="col">#ID</th> -->
                            <th scope="col">{{'recipient-name' | translate}}</th>
                            <th scope="col">{{'recipient-phone' | translate}}</th>
                            <!-- <th scope="col">{{'tracking-status' | translate}}</th> -->
                            <!-- <th scope="col">{{'elapsed-time' | translate}}</th> -->
                            <!-- <th scope="col">State</th> -->
                            <th scope="col">{{'source' | translate}}</th>
                            <th scope="col">{{'date' | translate}}</th>
                            <th scope="col">{{'from-branch' | translate}}</th>
                            <th scope="col">{{'payment' | translate}}</th>
                            <!-- <th scope="col">Update Date</th> -->
                            <th scope="col">{{'note' | translate}}</th>
                            <th scope="col">{{'control' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pendingOrder of pendingOrdersList | paginate: config">
                                <!-- <th scope="row">{{pendingOrder.id}}</th> -->
                                <th scope="row">{{pendingOrder.recipientName ? pendingOrder.recipientName : '-'}}</th>
                                <th scope="row">{{pendingOrder.recipientPhone ? pendingOrder.recipientPhone : '-'}}</th>
                                <!-- <th scope="row">{{pendingOrder.record ? pendingOrder.record[0].state : '-'}}</th>
                                <th scope="row" style="white-space: nowrap;">{{pendingOrder.record[0]?.startTime ? (pendingOrder.record[0]?.startTime?.timestamp * 1000 | date: 'MMM d, y, h:mm:ss a') : '-'}}</th> -->
                                <!-- <th scope="row">{{pendingOrder.state ? pendingOrder.state : '-'}}</th> -->
                                <th scope="row">{{pendingOrder.source.length > 0 ? pendingOrder.source[0] : '-'}}</th>
                                <th scope="row" style="white-space: nowrap;">{{pendingOrder.date ? (pendingOrder.date.timestamp * 1000 | date: 'yyyy-MM-dd' : 'UTC') : '-'}}</th>
                                <th scope="row">{{pendingOrder.fromBranch?.brancheName ? pendingOrder.fromBranch?.brancheName : '-'}}</th>
                                <th scope="row">{{pendingOrder.payment ? pendingOrder.payment : '-'}}</th>
                                <!-- <th scope="row">{{pendingOrder.updateDate ? (pendingOrder.updateDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th> -->
                                <th scope="row" class="td-custom">{{pendingOrder.note ? pendingOrder.note : '-'}}</th>
                                <th scrope="row">
                                    <a routerLink="/orders/view/{{pendingOrder.id}}" class="text-success">{{'view' | translate}}</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--.card-->
            <div class="mt-3 text-center">
                <pagination-controls class="my-pagination"
                        (pageChange)="pageChanged($event)"
                        autoHide="true"
                        maxSize="5"
                        responsive="true"
                        previousLabel="{{'prev' | translate}}"
                        nextLabel="{{'next' | translate}}"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div *ngIf="pendingOrders.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">{{'pending-orders-not-exists' | translate}}</div>
            <!-- <a routerLink="/animes/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                Add New Anime
            </a> -->
        </div>
    </div>
</div>
<div *ngIf="pendingOrders == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>