
      <div class="contracts-dashboard mb-5">
        <div class="row">
            <div class="col-12 col-md-4">
              <div class="card w-75 mx-auto bg-light-blue border-0 text-center">
                <div class="card-number text-light-blue">{{countPendingContracts}}</div>
                <span class="text-white">Pending</span>
              </div>
            </div>  
            <div class="col-12 col-md-4">
              <div class="card w-75 mx-auto bg-light-blue border-0 text-center">
                <div class="card-number text-light-blue">{{countDoneContracts}}</div>
                <span class="text-white">Done</span>
              </div>
            </div>  
            <div class="col-12 col-md-4">
              <div class="card w-75 mx-auto bg-light-blue border-0 text-center">
                <div class="card-number text-light-blue">{{countCancelledContracts}}</div>
                <span class="text-white">Cancelled</span>
              </div>
            </div>      
          </div>
        <div class="dashboard-table mt-5">
          <div class="card border-0 text-white">
            <div class="card-header bg-light-blue py-2">
              Requested Contracts
            </div>
            <div class="card-body table-responsive bg-light-blue text-center">
              <table class="table" *ngIf="contracts.length != 0">
                <thead>
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Status</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">PackageName</th>
                    <th scope="col">PackageNote</th>
                    <th scope="col">Subscription Note</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let contract of contracts.reverse(); let i = index">
                        <ng-container *ngIf="i < latestcontractsNumber">
                            <tr>
                                <th scope="row">{{contract.id}}</th>
                                <th scope="row">{{contract.userName ? contract.userName : '-'}}</th>
                                <th scope="row">{{contract.status ? contract.status : '-'}}</th>
                                <th scope="row">{{contract.startDate ? (contract.startDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th>
                                <th scope="row">{{contract.endDate ? (contract.endDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</th>
                                <th scope="row">{{contract.packageName ? contract.packageName : '-'}}</th>
                                <th scope="row">{{contract.packageNote ? contract.packageNote : '-'}}</th>
                                <th scope="row">{{contract.subscriptionNote ? contract.subscriptionNote : '-'}}</th>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
              </table>
                <div class="text-center" *ngIf="contracts.length == 0">
                    <p scope="row">There isn't any Requested Contracts To Show.</p>
                </div >
            </div>
          </div><!--.card-->
        </div>
      </div>
