<div class="ongoing-captains" *ngIf="ongoingCaptains">
    <h1 class="bg-light-blue text-white font-weight-bold p-3">{{'ongoing-captains' | translate }}</h1>
    <div *ngIf="ongoingCaptains.length !== 0">
        <div class="container-fluid">
            <div class="card border bg-white text-light-blue mt-2 mt-sm-3 mt-md-4">
                <div class="card-header bg-white py-3"></div>
                <div class="card-body table-responsive bg-white text-center">
                    <table class="table">
                        <thead>
                            <tr>
                            <!-- <th scope="col">#ID</th> -->
                            <th scope="col">{{'image' | translate }}</th>
                            <th scope="col">{{'name' | translate }}</th>
                            <th scope="col" style="white-space: nowrap;">{{'driving-licence' | translate }}</th>
                            <th scope="col">{{'age' | translate }}</th>
                            <th scope="col">{{'bounce' | translate }}</th>
                            <!-- <th scope="col">Captain ID</th> -->
                            <th scope="col">{{'car' | translate }}</th>
                            <th scope="col">{{'location' | translate }}</th>
                            <th scope="col">{{'rating' | translate }}</th>
                            <th scope="col">{{'salary' | translate }}</th>
                            <th scope="col">{{'state' | translate }}</th>
                            <th scope="col">{{'status' | translate }}</th>
                            <th scope="col">{{'control' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ongoingCaptain of ongoingCaptainsList | paginate: config">
                                <!-- <th scope="row">{{ongoingCaptain.id}}</th> -->
                                <th><img src="{{ongoingCaptain?.image}}" (error)="ongoingCaptain.image = '../../../../../../../assets/default-avatar.jpg'" alt="{{ongoingCaptain.name}} Image" class="img-thumbnail img-custom"></th>
                                <th scope="row">{{ongoingCaptain.name ? ongoingCaptain.name : '-'}}</th>
                                <th><img src="{{ongoingCaptain?.drivingLicence}}" (error)="ongoingCaptain.drivingLicence = '../../../../../../../assets/default-avatar.jpg'" alt="{{ongoingCaptain.name}} driving Licence" class="img-thumbnail img-custom"></th>
                                <th scope="row">{{ongoingCaptain.age ? ongoingCaptain.age : '-'}}</th>
                                <th scope="row">{{ongoingCaptain.bounce ? ongoingCaptain.bounce : '-'}}</th>
                                <!-- <th scope="row">{{ongoingCaptain.captainID ? ongoingCaptain.captainID : '-'}}</th> -->
                                <th scope="row">{{ongoingCaptain.car ? ongoingCaptain.car : '-'}}</th>
                                <th scope="row">{{ongoingCaptain.location ? ongoingCaptain.location : '-'}}</th>
                                <th scope="row">{{ongoingCaptain.rating.rate ? ongoingCaptain.rating.rate : '-'}}</th>
                                <th scope="row">{{ongoingCaptain.salary ? (ongoingCaptain.salary | currency) : '-'}}</th>
                                <th scope="row">{{ongoingCaptain.state ? ongoingCaptain.state : '-'}}</th>
                                <th scope="row">{{ongoingCaptain.status ? ongoingCaptain.status : '-'}}</th>
                                <th scrope="row">
                                    <a routerLink="/captains/view/{{ongoingCaptain.id}}" class="text-success">{{'view' | translate }}</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--.card-->
            <div class="mt-3 text-center">
                <pagination-controls class="my-pagination"
                        (pageChange)="pageChanged($event)"
                        autoHide="true"
                        maxSize="5"
                        responsive="true"
                        previousLabel="{{'prev' | translate}}"
                        nextLabel="{{'next' | translate}}"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div *ngIf="ongoingCaptains.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">{{'ongoing-captains-not-exists' | translate }}</div>
            <!-- <a routerLink="/animes/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                Add New Anime
            </a> -->
        </div>
    </div>
</div>
<div *ngIf="ongoingCaptains == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>