<div class="order-details mb-5" *ngIf="orderDetails">
    <div class="container-fluid">
        <h1 class="text-light-blue mt-3 mb-2 font-weight-bold">{{'order-details' | translate}}</h1>    
        <p class="ml-sm-2 ml-md-4 mb-1">{{'recipient-name' | translate}} : <span>{{orderDetails?.recipientName}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'recipient-phone' | translate}} : <span>{{orderDetails?.recipientPhone}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'from-branch' | translate}} : <span>{{orderDetails?.fromBranch?.brancheName}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'source' | translate}} : <span>{{orderDetails?.source}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'state' | translate}} : <span>{{orderDetails?.state}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'payment-method' | translate}} : <span>{{orderDetails?.payment}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'tracking-status' | translate}} : <span>{{orderDetails?.record[0]?.state}}</span></p>
        <p class="ml-sm-2 ml-md-4 mb-1">{{'order-created-time' | translate}} : <span>{{orderDetails?.record[0]?.date?.timestamp * 1000 | date: 'MMM d, y, h:mm:ss a'}}</span></p>
        <!-- <p class="ml-sm-2 ml-md-4 my-2">{{'destination' | translate}} : <span class="mr-2 border rounded px-1" *ngFor="let destinate of orderDetails.destination">{{destinate}}</span></p> -->
        <p class="ml-sm-2 ml-md-4 mb-1">{{'update-date' | translate}} : <span>{{orderDetails?.updateDate ? (orderDetails?.updateDate?.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</span></p>
        <!-- <p class="ml-sm-2 ml-md-4 my-3"><strong>{{'note' | translate}} : </strong> <span>{{orderDetails?.note}}</span></p>         -->
        <div class="row w-100 mx-auto mb-3">
            <div class="col-12 col-md-8">
                <!-- <p>{{'picked-up-date' | translate}} <span>{{orderDetails.date ? (orderDetails.date.timestamp * 1000 | date: 'yyyy-MM-dd H:mm:ss' : 'UTC') : '-'}}</span></p> -->
                <!-- <p>{{'picked-up-date' | translate}} <span>{{orderDetails.record?.length > 0 ? (orderDetails?.record[0]?.date?.timestamp * 1000 | date: 'MMM d, y, h:mm:ss a') : '-'}}</span></p> -->
            </div>
            <div class="col-12 col-md-4 align-self-center text-center">
                <div class="order-chat mx-auto p-1">
                    <i class="fa fa-commenting fa-fw fa-lg text-grey-blue"></i>
                    <a class="font-weight-bold" routerLink="/chat/view/order/{{orderDetails?.id}}">{{'chat-with-owner' | translate}}</a>
                </div>
            </div>
        </div><!--.row-->
    </div><!--.container-fluid-->
</div>
<div *ngIf="orderDetails == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>