/*
  Import files
  --------------------------------
*/
/*
    VARIABLE FOR SASS FILE
  -------------------------------------
*/
/*
    MIXIN FUNCTION FOR SASS FILE
  --------------------------------------------
*/
/*
    GENERAL STYLE FOR THEME
  --------------------------------
*/
body {
  background-color: #f2f2f2;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.service-box {
  border-width: 3px;
  border-style: solid;
}

.card-button {
  border: 1px solid #a2a8b1;
  display: inline-block;
  color: #6c5ce7;
  font-size: 1.2rem;
}

.background-canvas {
  position: relative;
}
.background-canvas:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 17%;
  right: 0;
  width: 50vw;
  height: 110vh;
  background: url("../images/icons/blog-background.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: -1;
}
@media (min-width: 576px) and (max-width: 767px) {
  .background-canvas:after {
    top: 10%;
    right: 0;
    /*Edit in ltr*/
    width: 75vw;
  }
}
@media (max-width: 575px) {
  .background-canvas:after {
    top: 0;
    right: 0;
    /*Edit in ltr*/
    width: 90vw;
  }
}

.slick-slide {
  float: right !important;
}

.bg-bright-green {
  background-color: #00ff47;
}

.bg-bright-yellow {
  background-color: #ccff00;
}

.bg-orange {
  background-color: #ffa901;
}

.bg-grey-border {
  background-color: #988c8c;
}

.bg-bing {
  background-color: #ff0099;
}

.bg-sky-blue {
  background-color: #00f0ff;
}

.bg-green-blue {
  background-color: #00ffc2;
}

.bg-red {
  background-color: #ff0000;
}

.bg-sea-blue {
  background-color: #002e74;
}

.bg-green {
  background-color: #14c97b;
}

.bg-grey {
  background-color: #a2a8b1;
}

.border-bright-green,
.border-branding-graphic-design-ar {
  border-color: #00ff47;
}

.border-bright-yellow,
.border-ux-studies-ar {
  border-color: #ccff00;
}

.border-orange,
.border-ui-review-provide-solutions-ar {
  border-color: #ffa901;
}

.border-grey-border,
.border-digital-strategy-ar {
  border-color: #988c8c;
}

.border-bing,
.border-ux-counseling-ar {
  border-color: #ff0099;
}

.border-sky-blue,
.border-ux-review-provide-solutions-ar {
  border-color: #00f0ff;
}

.border-red,
.border-usability-testing-ar {
  border-color: #ff0000;
}

.border-green-blue,
.border-ui-ux-design-ar {
  border-color: #00ffc2;
}

.border-sea-blue {
  border-color: #002e74;
}

.border-green {
  border-color: #14c97b;
}

.border-grey {
  border-color: #a2a8b1;
}

/*Pagination Section*/
.site-main .pagination_number span,
.site-main .pagination_number a {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee;
}
.site-main .pagination_number a {
  color: #45a9b7;
}
.site-main .pagination_number span {
  color: #394240;
}
.site-main .pagination_number a:hover {
  text-decoration: none;
  color: #ffa901;
}

/*End Pagination Section*/
/*
  Header
  --------------------------------
*/
@media (min-width: 768px) {
  .navbar .navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.navbar.navbar-desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.navbar.navbar-desktop .nav-box > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar.navbar-desktop .logo-bg {
  height: 70%;
  place-self: end;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.navbar-desktop .logo-bg {
    height: 45%;
  }
}
.navbar.navbar-desktop .nav-link i {
  color: #fff;
}
.navbar.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.navbar.navbar-mobile .nav-box > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar.navbar-mobile .nav-item.active .nav-link {
  color: #14c97b;
}
.navbar.navbar-mobile .nav-item .nav-link {
  color: #fff;
}
.navbar.navbar-mobile .nav-item:last-child {
  margin-bottom: 1rem;
}
.navbar.navbar-mobile .navbar-nav.custom-navbar-social {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar.navbar-mobile .navbar-nav.custom-navbar-social .nav-item:last-child {
  margin-bottom: 0;
}
.navbar.navbar-mobile .logo-bg {
  width: 25%;
}
.navbar .facebook-icon:hover i,
.navbar .linkedin-icon:hover i,
.navbar .slack-icon:hover i,
.navbar .twitter-icon:hover i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #14c97b;
}
.navbar .left_menu li.nav-item:first-child {
  margin-right: 0;
  /*Edit in ltr*/
}
.navbar .right_menu li.nav-item:last-child {
  margin-left: 0;
  /*Edit in ltr*/
}
.navbar .language_menu li.nav-item {
  font-size: 1.4rem;
}
.navbar .language_menu li.nav-item a {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .language_menu li.nav-item {
    font-size: 1.2rem;
  }
}
.navbar .left_menu li.nav-item,
.navbar .right_menu li.nav-item {
  font-size: 1.5rem;
  margin: 0 auto;
  position: relative;
}
.navbar .left_menu li.nav-item a,
.navbar .right_menu li.nav-item a {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar .left_menu li.nav-item,
.navbar .right_menu li.nav-item {
    font-size: 1.2rem;
  }
}
.navbar .language_menu li.nav-item:hover a,
.navbar .language_menu li.nav-item.active a,
.navbar .left_menu .nav-item:hover a,
.navbar .left_menu .nav-item.active a,
.navbar .right_menu .nav-item:hover a,
.navbar .right_menu .nav-item.active a {
  color: #14c97b;
}

/*
  Landing Page Front Page
  -----------------------------------------
 */
.landing-page {
  width: 100vw;
  height: 100vh;
  background: url("../images/all/landing-page-background.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.landing-page > h2 {
  font-size: 3.8vw;
  padding-right: 5%;
  /*Edit in ltr*/
  width: 70%;
  color: #000 !important;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .landing-page > h2 {
    font-size: 6vw;
  }
}
.landing-page .landing-page-sidebar {
  top: 0;
  width: 30%;
  height: 100%;
}
.landing-page .landing-page-sidebar .landing-sidebar-logo,
.landing-page .landing-page-sidebar .landing-sidebar-navigate {
  height: 50%;
  display: grid;
  place-content: center;
}
.landing-page .landing-page-sidebar .sidebar-navigate-home {
  position: relative;
}
.landing-page .landing-page-sidebar .sidebar-navigate-home:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../images/icons/white-Header-Left.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 15%;
  height: 50px;
  top: -2px;
  right: 45px;
  /*Edit in ltr*/
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-page .landing-page-sidebar .sidebar-navigate-home:before {
    top: 0;
    right: 40px;
    /*Edit in ltr*/
  }
}
.landing-page .landing-page-sidebar .sidebar-navigate-contact {
  border: 4px solid #fff;
  border-radius: 20px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 80%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-page .landing-page-sidebar .sidebar-navigate-contact {
    padding-top: 0;
  }
  .landing-page .landing-page-sidebar .sidebar-navigate-contact a {
    vertical-align: middle;
  }
}
.landing-page .landing-page-sidebar a {
  font-size: 2.4vw;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.landing-page .landing-page-sidebar a:hover {
  color: #aaa;
}
.landing-page .landing-page-sidebar-mobile {
  right: 0;
  /*Edit in ltr*/
}
@media (min-width: 576px) and (max-width: 767px) {
  .landing-page .landing-page-sidebar-mobile .sidebar-navigate-contact {
    border: 4px solid #fff;
    border-radius: 20px;
    padding-bottom: 0.8rem;
    width: 80%;
    padding-top: 0;
  }
  .landing-page .landing-page-sidebar-mobile .sidebar-navigate-contact a {
    vertical-align: middle;
  }
}
.landing-page .landing-page-sidebar-mobile a {
  font-size: 3vw;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.landing-page .landing-page-sidebar-mobile a:hover {
  color: #aaa;
}
@media (max-width: 575px) {
  .landing-page .landing-page-sidebar-mobile a {
    font-size: 3.5vw;
  }
}
.landing-page .landing-page-sidebar,
.landing-page .landing-page-sidebar-mobile {
  position: absolute;
  left: 0;
  /*Edit in ltr*/
  bottom: 0;
  background-color: #002e74;
}

/*
  Home Page
  --------------------------------
*/
article {
  padding: 100px 0;
}
@media (max-width: 575px) {
  article {
    padding: 50px 0;
  }
}

article.services {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: url("../images/icons/Slider.gif") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 120vh;
  padding: 0;
  color: #fff;
  text-align: center;
}
@media (max-width: 575px) {
  article.services {
    height: 130vh;
  }
}
@media (max-width: 575px) {
  article.services .service-box h4 {
    font-size: 1.1rem;
  }
}
article.services .service-box p {
  display: none;
}

article.yes-user-company span {
  font-size: 1rem;
}
article.yes-user-company .yes-user-desc {
  font-size: 1.8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  article.yes-user-company .yes-user-desc {
    font-size: 1.6rem;
    word-break: break-all;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  article.yes-user-company .yes-user-desc {
    font-size: 1.5rem;
  }
}
@media (max-width: 575px) {
  article.yes-user-company .yes-user-desc {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  article.deliver-service .col-12.col-sm-6:not(:first-child) {
    padding-right: 0;
    /*Edit in ltr*/
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  article.deliver-service h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  article.deliver-service h2 {
    font-size: 1.5rem;
  }
}
article.deliver-service p {
  font-size: 1.4rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  article.deliver-service p {
    font-size: 1.3rem;
  }
}
@media (max-width: 575px) {
  article.deliver-service p {
    font-size: 1.2rem;
  }
}
article.deliver-service .card .card-text {
  font-size: 1.1rem;
}

article.our-team .col-12.col-sm-6:nth-child(2) {
  border-width: 3px;
  border-style: solid;
  -webkit-border-image: -webkit-linear-gradient(to bottom, #00f0ff, #fff) 0 100%;
  -moz-border-image: -moz-linear-gradient(to bottom, #00f0ff, #fff) 0 100%;
  -o-border-image: -o-linear-gradient(to bottom, #00f0ff, #fff) 0 100%;
  -ms-border-image: -ms-linear-gradient(to bottom, #00f0ff, #fff) 0 100%;
  border-image: linear-gradient(to bottom, #00f0ff, #fff) 0 100%;
}
@media (max-width: 767px) {
  article.our-team .col-12.col-sm-6:nth-child(2) {
    border: none;
  }
}
article.our-team .team-item .team-member-image {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, #fff, #002e74);
  padding: 5px;
  border-radius: 50%;
}
@media (min-width: 576px) and (max-width: 767px) {
  article.our-team .team-item .team-member-image {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 575px) {
  article.our-team .team-item .team-member-image {
    width: 150px;
    height: 150px;
  }
}
article.our-team .team-item h2 {
  color: #002e74;
  font-weight: 400;
}
@media (max-width: 991px) {
  article.our-team .team-item h2 {
    font-size: 1.7rem;
    margin-top: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  article.our-team .team-item h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 575px) {
  article.our-team .team-item h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  article.our-team .team-item h4 {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  article.our-team .team-item h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 575px) {
  article.our-team .team-item h4 {
    font-size: 1rem;
  }
}

article.our-projects {
  padding: 50px 0;
}
article.our-projects .project-content:not(:last-child) {
  margin-bottom: 8rem;
}
article.our-projects .project-content h3 a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
article.our-projects .project-content h3 a:hover {
  color: #002e74;
}
@media (max-width: 575px) {
  article.our-projects .project-content h3 {
    font-size: 1.8rem;
  }
}
article.our-projects .project-content h5 {
  border-width: 4px;
  border-style: solid;
  width: max-content;
  padding: 10px 15px;
}
article.our-projects .project-content h5 a {
  color: #000;
  text-decoration: none;
}
article.our-projects .project-content h5 a:hover {
  color: #002e74;
}
@media (min-width: 576px) and (max-width: 767px) {
  article.our-projects .project-content h5 {
    font-size: 1.1rem;
  }
}
@media (max-width: 575px) {
  article.our-projects .project-content h5 {
    font-size: 1rem;
    padding: 5px 10px;
  }
}
article.our-projects .project-content p {
  font-size: 1.7rem;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  article.our-projects .project-content p {
    font-size: 1.6rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  article.our-projects .project-content p {
    font-size: 1.4rem;
  }
}
@media (max-width: 575px) {
  article.our-projects .project-content p {
    font-size: 1.2rem;
  }
}

/*
  Blog
  --------------------------------
*/
.content-area .blog-main .entry-header img {
  width: 100%;
}
.content-area .blog-main .entry-content .entry-title:hover a {
  text-decoration: none;
  color: #002e74;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .entry-content .entry-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content-area .blog-main .entry-content .entry-title {
    font-size: 1.7rem;
  }
}
@media (max-width: 575px) {
  .content-area .blog-main .entry-content .entry-title {
    font-size: 1.6rem;
  }
}
.content-area .blog-main .entry-content a {
  color: #000;
}
.content-area .blog-main .entry-content a .category-box {
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-left: 1rem;
  /*Edit in ltr*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .entry-content a .category-box {
    font-size: 1.6vw;
    padding: 0.4rem 0.8rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content-area .blog-main .entry-content a .category-box {
    font-size: 2vw;
    padding: 0.4rem 0.8rem;
  }
}
@media (max-width: 575px) {
  .content-area .blog-main .entry-content a .category-box {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}
.content-area .blog-main .entry-content a:hover .category-box.border-green-blue {
  background: #00ffc2;
  color: #fff;
}
.content-area .blog-main .entry-content a:hover .category-box.border-bing {
  background: #ff0099;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .entry-content .time-parent-box {
    font-size: 1.7vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content-area .blog-main .entry-content .time-parent-box {
    font-size: 2vw;
  }
}
@media (max-width: 575px) {
  .content-area .blog-main .entry-content .time-parent-box {
    font-size: 0.7rem;
  }
}
.content-area .blog-main .blog-sidebar .sidebar-newsletter {
  border: 3px solid #00ff47;
}
.content-area .blog-main .blog-sidebar .sidebar-newsletter .sidebar-newsletter-logo {
  display: flex;
  width: 40%;
  height: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter .sidebar-newsletter-logo {
    width: 60%;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter .sidebar-newsletter-logo {
    width: 50%;
    height: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter h3.h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter h3.h2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 575px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter h3.h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter p.lead {
    font-size: 1.1rem;
  }
}
@media (max-width: 767px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter p.lead {
    font-size: 1rem;
  }
}
.content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=email] {
  width: 65%;
  padding: 1.4rem;
  outline: none;
  border-top: 1px solid;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=email] {
    padding: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=email] {
    padding: 0.9rem;
  }
}
@media (max-width: 575px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=email] {
    padding: 0.7rem;
  }
}
.content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=submit] {
  width: 35%;
  color: #fff;
  background-color: #002e74;
  border-bottom: 1px solid #002e74;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=submit]:hover {
  background-color: #6c5ce7;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-newsletter .widget-content input[type=submit] {
    font-size: 0.8rem;
  }
}
.content-area .blog-main .blog-sidebar .sidebar-best-read-blog h4 a {
  color: #000;
  text-decoration: none;
}
.content-area .blog-main .blog-sidebar .sidebar-best-read-blog h4 a:hover {
  color: #002e74;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-best-read-blog h4 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-area .blog-main .blog-sidebar .sidebar-best-read-blog span {
    font-size: 1.9vw;
  }
}

/*
   Our Work
  -----------------------------------------
*/
.our-work article {
  padding: 25px 0;
}
@media (min-width: 576px) and (max-width: 991px) {
  .our-work.background-canvas:after {
    top: 10%;
    left: 0;
    /*Edit in ltr*/
    width: 75vw;
  }
}
@media (max-width: 575px) {
  .our-work.background-canvas:after {
    top: 0;
    left: 0;
    /*Edit in ltr*/
    width: 90vw;
  }
}
.our-work .our-work-icon i.fa-bars {
  color: #ff0099;
}
@media (max-width: 575px) {
  .our-work .our-work-filter-slick {
    padding-left: 0;
    /*Edit in ltr*/
  }
}
.our-work .our-work-filter-slick .service-box {
  margin-left: 2px;
  margin-right: 2px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-work .our-work-filter-slick .service-box h4 {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .our-work .our-work-filter-slick .service-box h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 575px) {
  .our-work .our-work-filter-slick .service-box h4 {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}
.our-work .our-work-filter-slick .service-box a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.our-work .entry-content .card-button {
  position: relative;
  margin-right: 10%;
  /*Edit in ltr*/
}
.our-work .entry-content .card-button:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../images/icons/Header-Left.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 36%;
  height: 50px;
  top: -5px;
  right: -50px;
  /*Edit in ltr*/
}
.our-work .entry-content .card-button:hover {
  text-decoration: none;
}
@media (max-width: 575px) {
  .our-work .entry-content .card-button {
    margin-right: 17%;
    /*Edit in ltr*/
  }
}

/*
   Services Page
  -----------------------------------------
*/
.services-page article {
  padding-top: 0;
  padding-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-page .service-box h4 {
    font-size: 2.3vw;
  }
}
.services-page .service-tax-content .service-content-img {
  width: 35%;
}
.services-page .service-tax-content .whatsapp-contact {
  padding: 0.4rem 1rem;
  background: #00ff47;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  display: inline-block;
  cursor: pointer;
}
.services-page .service-tax-content .whatsapp-contact:hover {
  background: #14c97b;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-page .service-tax-content .whatsapp-contact {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .services-page .service-tax-content .whatsapp-contact {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .services-page .service-tax-content .whatsapp-contact {
    font-size: 0.7rem;
  }
}
.services-page .service-tax-content p {
  font-size: 1.4rem;
  line-height: 1.7;
  text-align: justify;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-page .service-tax-content p {
    font-size: 2.5vw;
  }
}
@media (max-width: 575px) {
  .services-page .service-tax-content p {
    font-size: 1rem;
  }
}
.services-page .sidebar-best-read-blog h4 a {
  color: #000;
  text-decoration: none;
}
.services-page .sidebar-best-read-blog h4 a:hover {
  color: #002e74;
}
.services-page .service-project-blog img {
  width: 100%;
}
.services-page .service-project-blog .entry-content .card-button {
  margin-right: 8%;
  /*Edit in ltr*/
}
@media (min-width: 576px) and (max-width: 767px) {
  .services-page .service-project-blog .entry-content .card-button {
    margin-right: 9%;
    /*Edit in ltr*/
  }
}
@media (max-width: 575px) {
  .services-page .service-project-blog .entry-content .card-button {
    margin-right: 25%;
    /*Edit in ltr*/
  }
}

/*
   Single Post
  -----------------------------------------
*/
.blog-main {
  padding-bottom: 50px;
}
.blog-main .single-post {
  position: relative;
  background: #f8f9fa;
}
.blog-main .single-post .post-edit-link {
  position: absolute;
  top: 0;
  left: 0;
  /*Edit in ltr*/
  padding: 8px;
  background-color: #eee;
  border-radius: 0 0 0 5px;
  /*Need Change In Rtl*/
}
.blog-main .single-post h2 a {
  text-decoration: none;
  color: #45a9b7;
  letter-spacing: 1px;
}
.blog-main .single-post h2:hover a {
  color: #ffa901;
}
.blog-main .single-post .single-post-detail {
  color: #394240;
  font-size: 14px;
}
.blog-main .single-post .single-post-img {
  height: 400px;
  text-align: center;
}
.blog-main .single-post .single-post-img img {
  max-height: 400px;
}
.blog-main .single-post hr {
  width: 25%;
}
.blog-main .single-post .post-content,
.blog-main .single-post .post-categories {
  color: #394240;
}
.blog-main .single-post .post-categories,
.blog-main .our-posts .custom-post .post-categories {
  /* background: #eee; */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffa901;
}
.blog-main .random-post .post-author-title {
  background: #45a9b7;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
}
.blog-main .random-post .post-author-random-posts {
  font-size: 18px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.blog-main .author-box {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}
.blog-main .author-box h5 {
  display: inline-block;
  color: #555;
}
.blog-main .author-box .author-nickname {
  color: #45a9b7;
  font-weight: 600;
}
.blog-main .author-box p {
  color: #777;
  font-size: 13px;
}
.blog-main .author-box .author-status {
  font-size: 14px;
  color: #777;
}
.blog-main .author-box .posts-count {
  color: #ffa901;
  font-weight: 600;
}

@media (max-width: 992px) {
  .author-box h5 {
    margin-right: 15px;
  }
}
@media (max-width: 500px) {
  .author-box h5 {
    font-size: 13px;
  }
}
/* ---- End Single Post Page ---- */
/*
  Archive
  ---------------------------------------
 */
@media (min-width: 768px) and (max-width: 991px) {
  .post-archive .archive-header h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .post-archive .archive-header h1 {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .post-archive .archive-header h1 {
    font-size: 1.5rem;
  }
}
.post-archive .category-box:hover {
  color: #14c97b;
}

/* ---- Start Comments List ---- */
h4.comment-number {
  background-color: #d8d8d8;
  font-size: 14px;
  color: #968e8e;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 15px;
}

.comments-list ul,
.comments-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments-list .comment img {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 2px;
}

.comments-list .comment .says {
  display: none;
}

.comments-list .comment .comment-meta a {
  color: #777;
  font-size: 13px;
}

.comments-list .comment p {
  color: #444;
  font-size: 14px;
  margin-bottom: 5px;
}

.comments-list .reply {
  font-size: 14px;
}

.comments-list > .comment {
  /*Level One For Directe Child*/
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.comments-list > .comment > .children > .comment {
  background-color: #eee;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ddd;
}

.comments-list > .comment > .children > .comment > .children .comment {
  background-color: #ddd;
  padding: 15px;
  margin: 10px;
  border: 1px solid #aaa;
}

.comments-list .bypostauthor {
  position: relative;
}

.comments-list .bypostauthor:after {
  content: "Author";
  position: absolute;
  top: 10px;
  left: 20px;
  /*Edit in ltr*/
  font-size: 30px;
  font-weight: bold;
  color: #e6e6e6;
}

.comment-respond {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px 20px;
}

.comment-respond h3 {
  text-align: center;
  color: #aaa;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 4px;
}

.comment-respond form {
  width: 50%;
  margin: auto;
}

.comment-respond label {
  display: block;
  margin-bottom: 0.2rem;
}

.comment-respond p {
  margin: 0 0 5px;
  color: #666;
}

.comment-respond input,
.comment-respond textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  color: #777;
}

.comment-respond textarea {
  height: 150px;
  resize: none;
}

.comment-respond #wp-comment-cookies-consent,
.comment-respond #wp-comment-cookies-consent + label {
  display: inline-block !important;
}

.comment-respond #wp-comment-cookies-consent {
  width: 10%;
  position: relative;
  top: -10px;
}

.comment-respond #wp-comment-cookies-consent + label {
  width: 88%;
}

.comment-respond input[type=submit] {
  background-color: #007bff;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .comment-respond form {
    width: 100%;
  }
}
/* ---- End Comments List ---- */
/*
   footer
  -----------------------------------------
*/
footer {
  padding: 50px 0;
}
footer h6 {
  text-transform: uppercase;
  color: #a2a8b1;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  footer .footer-info > div {
    margin-left: auto;
    margin-right: auto;
  }
}
footer .footer-info .social-icon {
  display: block;
  color: #002e74;
}
footer .facebook-icon:hover,
footer .linkedin-icon:hover,
footer .slack-icon:hover,
footer .twitter-icon:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: fit-content;
  padding: 0.2rem;
  background: #14c97b;
  color: #fff;
  border-radius: 50%;
}
footer .footer-nav-item {
  color: #222;
}
footer .footer-nav-item:hover {
  color: #14c97b;
}
footer .footer-contact h3 {
  color: #002e74;
}
@media (min-width: 576px) and (max-width: 767px) {
  footer .footer-contact h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 575px) {
  footer .footer-contact h3 {
    font-size: 1.3rem;
  }
}
footer .yes-user-contact-form .form-control-msg {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
}
footer .yes-user-contact-form.has-error:before {
  background-color: #a94442;
}
footer .yes-user-contact-form .btn-custom {
  width: 100%;
  height: 90%;
  background-color: #002e74;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
}
footer .footer-input-control {
  position: relative;
  background: #f2f2f2;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 8px 15px;
  outline: none;
  font-weight: 500;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
footer .footer-input-control:hover, footer .footer-input-control:focus, footer .footer-input-control:active {
  box-shadow: none;
}
footer .footer-input-control:after {
  content: "";
  display: inline-block;
  position: absolute;
}
footer textarea.footer-input-control {
  width: 100%;
}
footer .form-control-msg {
  display: none;
}
footer .has-error .form-control-msg {
  display: block;
}
footer .js-show-feedback {
  display: block;
}

/* Start about us */
.about-us {
  padding: 12% 0 50px;
}

.about-us-content {
  padding: 4%;
}

.about-us-img {
  margin: auto;
  width: auto;
}

.about-us-title {
  color: #002e74;
  font-style: italic;
  font-size: 50px;
}

.about-us-content-sec {
  padding: 3%;
}

/* end about us */

/*# sourceMappingURL=style-rtl.css.map */
