.contract-details {
    h1 {
        @media (min-width: '992px') and (max-width: '1199px') {
          font-size: 2.2rem;
        }
        @media (max-width: '991px') {
          font-size: 2rem;
        }
    }
    .order-chat {
        button {
            width: max-content;
            @media (min-width: '768px') and (max-width: '991') {}
        }
    }
}
